body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* MAIN NAVBAR --------------------------- */
a {
  text-decoration: none!important;
  color: black!important
}

.nav_header {
  display: flex;
}

.nav_rightSided  {
  display: flex;
  right: 0;
  position: absolute;
  top: 15px;
  width: 250px;
}

.nav_rightSided a {
  display: flex; 
  margin: 0 4%;
}

.logo {
  padding: 15px
}

.count {
  background:#e00051;
  padding: 3px 6px;
  border-radius: 99px;
  font-weight: bold;
  color: white;
  font-size: 10px;
}

/* HOME CONTAINER ---------------------------------- */

.text-header {
  padding: 1% 4%;
  font-size: 40px;
}

.hero-text {
  position: absolute;
  top: 350px;
  z-index: 999;
  margin-left: 10px;
  height: 200px;
  min-width: 300px!important;
  max-width: 300px!important
}

#buyNowBut {
  margin-top: 4%;
  color: white!important;
  text-shadow: .2px .2px white;
  font-size: 16px;
}

#home-subTitle {
  text-shadow: .3px .4px black;
}


.home-image {
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative!important;
  width: 70%;
  float: right;
  margin-bottom: 100px;

}


/* RESTAURANT CONTAINER ------------------------------------ */

.all_restaurant_text {
  padding: 3%;
}

.restaurants-holder {
  width: 100%;
  column-count: 4;
}

.restaurant-card {
  height: 400px;
  width: 100%;
  /* justify-items: center; */
}

.restaurant-image {
  width: 65%;
  height: 250px;
  border-radius: 20px;
}

.restaurant-title {
  font-size: 20px;
  padding: 3% 0%;

}

 /* SELECTED RESTAURANT --------------------------------- */
 .category-subNav {
   display: flex;
   width: 80%;
   margin-left: 10%
 }

.category-subNav > option {
  list-style: none;
  padding: 0 7%;
  margin-top: 5%;
}


/* PRODUCT CONTAINER -------------------------------------- */

.product-card {
  width: 60%;
  background: #F5F5F5;
  border-radius: 20px;
  margin-bottom: 50px;
  
}

.product-image {
  margin-top: 1%;
  width: 98%;
  height: 400px;
  border-radius: 20px 20px 0px 0px ;
}
.products_holder {
  width: 100%;
  column-count: 2;
  padding-top: 10%;
  margin-left: 10%;
}

.product-name {
  padding-top: 2%;
  font-weight: bold;
}

.product-price {
  font-style: italic;
}


/* ORDER FORM ----------------------------------------- */

.add_to_cart {
  background: #4285F4;
  color: white;
  font-weight: bold;
  padding: 1% 2%;
  border-radius: 8px;
  margin-bottom: 30px;

}


/* CARTCONTAINER ---------------------------------------------------- */

.cart-holder {
  width: 80%;
  margin-left: 10%;
}


.order_in_cart {
display: flex;
margin-bottom: 5%;
}

.product_cart_image {
  width: 320px;
  height: 250px;
  border-radius: 10px;
}

.product_name_price {
  position: relative;
  bottom: -150px;
  padding: 0% 5%;
}

.product_cart_name {
  font-weight: bold;
}

.product_cart_price {
  font-style: italic;
  font-size: 12px;
}

.product_cart_quantity {
  position: relative;
  bottom: -150px;
  padding: 0% 1%;
  display: flex;
}

.arrowdown {
  padding-right: 1%;
  color: blue
}

.arrowup {
  padding-left: 1%;
  color: blue
}

.delete {
  position: relative;
  top: 150px;
  /* margin-bottom: 215px; */
  color: red;
  
}

/* 
.small_pic {
  width: 5%;
} */


.image_restaurant {
  /* width: 350px; */
  height: 250px;
}

#Grid-Container {
  margin-top: 50px;
  padding-left: 1%;
  padding-right: 1%
}

.ui.card, .ui.cards>.card {
  width: 365px!important;
}

#header_ui {
/* border: 1px solid blue; */
width: 100%
}

/* .ui.basic.red.button, .ui.basic.red.buttons .button {
  width: 79px!important
} */

.ui.segment {
  box-shadow: none!important;
  border: none!important
}

/* ---------------- RESTAURANTS GRID ------------------------------- */
#restaurant-name {
  padding: 10px;
}

#restaurant-phone {
  padding-bottom: 10px;
}

#restaurant-feedback {
  padding: 10px!important
}

.options_cuisines > option {
  display: inline-block!important;
  margin-bottom: 15px;

}


option {
  padding: 5px 30px;
  border: 1px solid #e00051;
  font-weight: 700;
  border-radius: 8px;
  margin: 1%;
}

option:hover {
  background-color: #e00051;
  color: #F5F5F5;
  cursor: pointer;

}

option:nth-child(even):hover {
  background-color: #54c8ff;
  color: #F5F5F5;
  cursor: pointer;
  
}

option:nth-child(even) {
  border: 1px solid #54c8ff
}

#dishes_option {
  padding-top: 65px;
}


#NewGrid {
  margin-top: 60px;
}

.food_image {
  height: 180px;
  width: 45%;
  border-radius: 5px!important;
  position: absolute!important;
  right: 2px;
  bottom: 2px
}

#NewGrid .card_product { 
  width: 75%!important;
  margin: 0 auto;
  height: 184px;
}


.card-content {
  display: flex!important
}

.product_info_holder {
  padding-top: 30px;
  width: 45%;
}

#product-name {
  /* font-weight: 700;  */
  text-shadow: .5px .3px black;
}

.ui.card>.content, .ui.cards>.card>.content >.card_product {
  padding: 0!important
}

#add-to-cart {
  margin-top: 10px;
}

#author {
  color: #54c8ff;
}

#starsOnReview {
  position: relative;
  bottom: -10px;
  padding-left: 10px;
}

.allReviews {
  text-align: left!important;
  margin-left: 2%;
}

#review-content {
  padding-left: 1%!important;
}

.reviewForm {
  padding: 10% 10% 5% 10%;
}

#leaveReviewForm {
  width: 50%;
  height: 100px;
}

.createReviewButton {
  background-color: #e00051;
  color: #F5F5F5;
  cursor: pointer; 
  margin-top: 15px;
  padding: 7px 40px;
  border: 1px solid #e00051;
  font-weight: 700;
  border-radius: 8px;
}

#GridOnCart {
  /* width: 100%!important; */
  border: 1px solid red;
  padding: 2%;
}

#gridRowCart {
  border: 1px solid purple;
  /* width: 100%!important */
}

#gridColumnCart {
  /* width: 100%!important; */
  border: 1px solid black
}

#product_image_cart > img{
  height: 180px;
  width: 220px;
  border-radius: 5px!important;
  margin-left: 20%
}

#product_image_cart {
  margin: 2% 0;
}

#product_price_cart {
  opacity: 50%;
}

#product_cart_details {
  padding-top: 120px;
}

#update_order {
  margin-top: 120px;
}

#update_order_number {
  padding-top: 135px;
}

.subtotalInfo {
  font-weight: 400;
}

#moneyCount {
  opacity: 75%;
  text-shadow: .5px .2px black;
}

#moneyCountTotal {
  text-shadow: .4px .2px black;
}

#checkoutButton {
  margin-top: 30px;
}

#tipHandler {
  margin: 30px 0;
}

#promotion {
  margin: 25px 0;
}

.profile_product_img {
  height: 45px;
  width: 45px;
}

#orderNumber {
  border: 1px solid blue;
  background-color: #54c8ff;
  color: #F5F5F5;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 700;
  border-radius: 8px;
  margin: 0 auto;
  width: 150px;
}

#orderNumber:hover + #productsOnOrder:nth-child(n) {
  opacity: 70%;
}

#productsOnOrder {
  height: 100%;
  margin-bottom: 15px;
  padding: 5%;
  text-align: left;
  display:flex; 
}

#allTransactions {
  padding-top: 140px;
  width: 300px;
  margin: 0 auto;
}

.productNameOnCart {
  margin-left: 4%;
  text-align: center!important;
  /* text-shadow: .1px .1px black; */
  font-weight: bold;

}

#registerForm {
  width: 50%;
  margin: 0 auto;
  padding: 2% 8%;
}

#registerForm > placeholder {
  text-align: center
}

#form-input {
  text-align: center;
}

#registerTitleForm {
  margin-top: 30px;
  text-shadow: .4px .3px black
}

#userAvatar {
  font-size: 5em;
  margin-bottom: 30px;
}

.userInformation {
  text-shadow: .2px .3px black;
}

#historyOrders {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6%
}


.location-box-cover > input {
  border: 1px solid orange;
  width: 400px!important;
  padding: .5%;
  border-radius: 10px;
  text-align: center!important;
}

.google-covert {
  width: 400px!important;
  margin: 0 auto;
}

.custom-style-list {
  list-style: none!important;
}

.location-box-cover {
  margin: 3% 0%;
}


#search_header {
  margin-bottom: -35px;
  margin-top: 20px;
  font-weight: 700;
  opacity: 80%;
  color: #e00051
}



main {
  position: relative!important;
  min-height: 100vh!important;
}


#footerTable {
  width: 100%!important;
  position: relative!important;
  margin-top: 100px;
  bottom: 0;
  background-color: #f3f3f3;
  border: none!important
}

.table td, .table th {
  border: none!important;
  padding: 2%
}

.ui.table {
  text-align: center!important;
  padding: 2%
}

#demoNote {
  margin: 0 auto!important;
}

#footerTable .ui.label {
  color: black!important;
  background: #fbe5ed!important
}

#receipt {
  /* border: 1px solid red; */
  width: 25%;
  margin: 0 auto!important;
  padding: 7% 2%;
  font-weight: 500;
  box-shadow: 1px 1px 4px 1px #dcdcdc
}

#checkoutRouterButton {
  margin-top: 5%;
}

.receiptProps {
  opacity: 70%
}